<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jedi Tribute</title>
</head>

<body>
    <h1>Jedi Tribute Page</h1>
    <p>Un Jedi era un individuo sensible a la Fuerza, la mayoría de las veces un miembro de la Orden Jedi, que estudiaba, 
        servía y usaba las energías místicas de la Fuerza; usualmente, el lado luminoso de la Fuerza.</p>
    <p>El arma de un Jedi era el sable de luz, una espada hecha de energía pura que tiene diferentes colores. 
        Los Jedi lucharon por la paz y la justicia en la República Galáctica, por lo general contra sus enemigos 
        mortales: los Sith, que utilizaban el lado oscuro de la Fuerza.</p>
    <a href="https://starwars.fandom.com/es/wiki/Jedi">go to Jedi wiki</a>

    <h2>Qui-Gon Jinn</h2>
    <p>Qui-Gon Jinn, un hombre humano sensible a la Fuerza, fue un venerable y rebelde Maestro Jedi que vivió durante 
        los últimos años de la era de la República. Era un miembro sabio y respetado de la Orden Jedi, y habría ganado un 
        asiento en el Alto Consejo Jedi de no ser por su rebeldía. Siguiendo una filosofía centrada alrededor de la Fuerza Viva, 
        Jinn se esforzó por seguir la voluntad de la Fuerza incluso cuando sus acciones estaban en conflicto con los deseos 
        del Alto Consejo. Después de encontrarse con Anakin Skywalker, Jinn lo llevó al Templo Jedi en Coruscant, convencido 
        de que había encontrado al Elegido. Su último deseo fue que Skywalker se convirtiera en un Jedi y que finalmente 
        devolviera el equilibrio a la Fuerza.</p>
    <a href="https://starwars.fandom.com/es/wiki/Qui-Gon_Jinn">go to Qui-Gon biography</a>

    <h2>Obi-Wan Kenobi</h2>
    <p>Obi-Wan Kenobi fue un hombre humano sensible a la Fuerza y un legendario Maestro Jedi y miembro del 
        Alto Consejo Jedi durante la Caída de la República. Durante la Era del Imperio, empleó el alias de Ben Kenobi 
        para esconderse del régimen que condujo a los Jedi a su casi absoluta extinción tras las Guerras Clon. 
        Un hombre noble conocido por sus habilidades con la Fuerza, Kenobi entrenó a Anakin Skywalker como su Padawan, 
        sirvió como General Jedi en el Gran Ejército de la República, y se convirtió en un mentor para Luke Skywalker 
        antes de su muerte en el 0 ABY.</p>
    <a href="https://starwars.fandom.com/es/wiki/Obi-Wan_Kenobi">go to Obi-Wan biography</a>

    <h2>Anakin Skywalker</h2>
    <p>Anakin Skywalker, un hombre humano sensible a la Fuerza, fue un Caballero Jedi de la República Galáctica 
        y el Elegido de la Fuerza. Durante las Guerras Clon, sus logros como comandante en el campo de batalla le valieron 
        el apodo del Héroe Sin Miedo. Después de pasar al lado oscuro de la Fuerza, se hizo conocido como Darth Vader, 
        un Señor Oscuro de los Sith y aprendiz del Emperador Darth Sidious. Como Lord Sith, Vader se volvió contra sus 
        antiguos camaradas y dió caza a los Jedi sobrevivientes hasta su casi extinción. Se convirtió en un ejecutor del 
        Imperio Galáctico, que trabajó para aplastar a la Alianza para Restaurar la República por oponerse a la voluntad 
        de su Maestro Sith. Sin embargo, a pesar de sus acciones como Darth Vader, un destello del lado luminoso de la Fuerza 
        permaneció dentro del antiguo Anakin Skywalker.</p>
    <a href="https://starwars.fandom.com/es/wiki/Anakin_Skywalker">go to Anakin biography</a>

    <h2>Ahsoka Tano</h2>
    <p>Ahsoka Tano, apodada por su Maestro como «Sabionda», «Chulita» o «Mocosa», fue una Padawan Jedi togruta que, 
        tras las Guerras Clon, ayudó a establecer una red de células rebeldes para combatir al Imperio Galáctico. 
        Tano fue descubierta en su planeta natal Shili por el Maestro Jedi Plo Koon, quien la llevó al Templo Jedi de 
        Coruscant para que fuese entrenada en las artes Jedi. Después del estallido de las Guerras Clon, 
        el Gran Maestro Jedi Yoda asignó a la joven Tano como Padawan del Caballero Jedi Anakin Skywalker, 
        a quien se unió durante la Batalla de Christophsis. Mientras que Tano estaba ansiosa por probarse a sí misma, 
        Skywalker tenía una reputación de imprudente, y ambos tuvieron un complicado inicio en su relación como maestro 
        y aprendiz.</p>
    <a href="https://starwars.fandom.com/es/wiki/Ahsoka_Tano">go to Ahsoka biography</a>

    <h2>Luke Skywalker</h2>
    <p>Luke Skywalker fue un humano sensible a la Fuerza y un Maestro Jedi quien, junto a su hermana gemela, 
        la Princesa Leia Organa, luchó en contra del gobierno del Imperio Galáctico durante la Guerra Civil Galáctica. 
        Hijo del Caballero Jedi Anakin Skywalker y de la Senadora Padmé Amidala de Naboo. Como resultado de la muerte de 
        su madre y de la caída de su padre al lado oscuro de la Fuerza, Luke fue enviado al planeta natal de Anakin, 
        Tatooine, para vivir con sus relativos, Owen y Beru Lars. Después de sus muertes a manos del Imperio, Luke 
        se convirtió en aprendiz del antiguo maestro de su padre, Obi-Wan Kenobi, con el fin de aprender los caminos de la Fuerza y 
        convertirse en un Jedi. Con la ayuda de los contrabandistas Han Solo y Chewbacca, Skywalker rescató a 
        Leia Organa de las garras del Imperio, pero perdió a su maestro, quien murió mientras confrontaba 
        al Lord Sith Darth Vader. En la Batalla de Yavin, Skywalker logró destruir la estación de batalla 
        y superarma del Imperio, la Estrella de la Muerte, salvando así a la Alianza para restaurar 
        la República de la destrucción.</p>
    <a href="https://starwars.fandom.com/es/wiki/Luke_Skywalker">go to Luke biography</a>
</body>

</html>